@font-face {
  font-family: "NotoSansChorasmian";
  src: url("./assets/fonts/NotoSansChorasmian-Regular.ttf") format("truetype");
}

:root {
  --primary-color: #fcfbf5;
  --secondary-color: #ccc5b9;
  --accent-color: #eb5e28;
  --text-color: #252422;

  --font-size-base: 16px;
  --font-size-base-mobile: 10px;
  --line-height-base: 1.5;

  --border-radius: 4px;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  color: var(--text-color);
  background-color: var(--primary-color);
  font-family: "NotoSansChorasmian", sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: unset;
}

a.btn-cta {
  background-color: var(--accent-color);
  color: var(--primary-color);
  border-top: 8px solid var(--primary-color);
  border-right: 3px solid var(--primary-color);
  border-bottom: 1px solid var(--primary-color);
  border-left: 6px solid var(--primary-color);
  display: block;
  width: fit-content;
  padding: 5px 30px;
  transition: all 0.4s;
}

a.btn-cta:hover {
  background-color: var(--primary-color);
  color: var(--accent-color);
}

.btn-cta-white {
  background-color: var(--primary-color);
  color: var(--accent-color);
  border-top: 8px solid var(--accent-color);
  border-right: 3px solid var(--accent-color);
  border-bottom: 1px solid var(--accent-color);
  border-left: 6px solid var(--accent-color);
  display: block;
  width: fit-content;
  padding: 5px 30px;
  transition: all 0.4s;
}

.btn-cta-white:hover {
  background-color: var(--accent-color);
  color: var(--primary-color) !important;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--accent-color);
}

::-webkit-scrollbar-track {
  background-color: var(--primary-color);
}

#home {
  height: 100vh;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../assets/images/topography.svg),
    linear-gradient(75deg, #eb5e28 50%, #eb5f2855 50%);

  .home-box {
    width: 50%;
    height: 50vh;
    background-color: var(--accent-color);
    border-top: 50px solid var(--primary-color);
    border-right: 8px solid var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
    border-left: 30px solid var(--primary-color);
    position: relative;

    & h1 {
      color: var(--primary-color);
      font-size: 6rem;
      line-height: 6.5rem;
    }

    & .hero-cta {
      position: absolute;
      bottom: 10px;
      right: 10px;
      display: block;
      padding: 5px 30px;

      & span {
        font-weight: 700;
      }
    }
  }
}

.navbar-mobile {
  display: none !important;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  height: 70px;
  border-bottom: 1px solid var(--accent-color);
  position: sticky;
  top: 0;
  z-index: 12;

  & .nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 70px;

    & li a {
      text-decoration: none;
      color: var(--text-color);
      font-weight: 400;
      font-size: 20px;
      position: relative;

      &:hover {
        opacity: 0.8;
        transition: all 2s;

        &::after {
          display: block;
          content: " ";
          width: 0;
          height: 2px;
          position: absolute;
          bottom: -3px;
          left: 0;
          background-color: var(--accent-color);
          animation: hover-animation-after-line 0.3s linear forwards;
        }

        &::before {
          display: block;
          content: " ";
          width: 2px;
          height: 0;
          position: absolute;
          top: 0;
          right: -6px;
          background-color: var(--accent-color);
          animation: hover-animation-before-line 0.3s linear forwards;
        }
      }

      &.logo-link::after,
      &.logo-link::before {
        display: none;
      }

      & .logo-main {
        height: 60px;
      }
    }
  }
}

#about-me {
  width: 80%;
  margin: 300px auto;
  max-width: 1360px;

  & h2 {
    font-size: 3rem;
    line-height: 3.5rem;
    padding: 0 30px 10px 0;
    margin-bottom: 30px;
    width: fit-content;
    position: relative;

    &::after {
      display: block;
      content: " ";
      width: 110%;
      height: 2px;
      position: absolute;
      bottom: -3px;
      left: 0;
      background-color: var(--accent-color);
    }

    &::before {
      display: block;
      content: " ";
      width: 2px;
      height: 120%;
      position: absolute;
      top: 0;
      right: -6px;
      background-color: var(--accent-color);
    }
  }

  & p {
    font-size: 1.2rem;
    line-height: 1.4rem;

    & a {
      font-size: 1.2rem;
      line-height: 1.4rem;
      color: var(--accent-color);
      text-decoration: underline;
    }
  }

  & .skills {
    font-size: 1.2rem;
    line-height: 1.4rem;
    color: var(--accent-color);
    margin-top: 10px;
  }
}

#projects {
  background: url(../assets/images/topography2.svg);
  padding: 50px 0;

  & .projects-box {
    width: 80%;
    max-width: 1360px;
    margin: auto;
  }

  & h2 {
    font-size: 3rem;
    line-height: 3.5rem;
    padding: 0 30px 10px 0;
    margin-bottom: 30px;
    position: relative;
    width: fit-content;

    &::after {
      display: block;
      content: " ";
      width: 110%;
      height: 2px;
      position: absolute;
      bottom: -3px;
      left: 0;
      background-color: var(--accent-color);
    }

    &::before {
      display: block;
      content: " ";
      width: 2px;
      height: 120%;
      position: absolute;
      top: 0;
      right: -6px;
      background-color: var(--accent-color);
    }
  }

  & .description {
    font-size: 1.2rem;
    line-height: 1.4rem;
    margin-bottom: 50px;
    color: var(--text-color);

    & span {
      font-weight: 700;
      color: var(--accent-color);
    }
  }

  & .project-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;

    & .project {
      padding: 20px 0 40px 0;
      background-color: var(--primary-color);
      color: var(--text-color);
      position: relative;
      box-shadow: 0px 0px 15px -6px rgba(0, 0, 0, 0.75);
      display: inline-block;
      width: 100%;
      margin-bottom: 10px;
      border-radius: 5px;

      & h3 {
        color: var(--accent-color);
        font-size: 1.5rem;
        padding-bottom: 20px;
        text-align: center;
      }

      & .about-project {
        border-top: 1px solid var(--accent-color);
        max-width: 100%;
        margin: 0 0 10px 0;
        padding: 10px;
        height: 150px;
        font-size: 1rem;
      }

      & .technologies {
        margin: 0 0 10px 0;
        padding: 15px;
        font-weight: 600;
        font-size: 1rem;
      }

      & .bottom-box {
        position: absolute;
        bottom: 5px;
        width: 100%;
        left: 50%;
        transform: translateX(-50%);
        border-top: 1px solid var(--accent-color);
        padding: 5px 0 0 0;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;

        & .team-members {
          color: var(--accent-color);
          font-size: 1.5rem;
          font-weight: 800;
          display: block;
          width: calc(50% - 1px);
        }

        & a {
          color: var(--accent-color);
          font-size: 1.3rem;
          text-decoration: underline;
          display: block;
          width: calc(50% - 1px);
          border-left: 2px solid var(--accent-color);
        }
      }
    }
  }
}

#skills {
  width: 80%;
  margin: 200px auto;
  max-width: 1360px;

  & h2 {
    font-size: 3rem;
    line-height: 3.5rem;
    padding: 0 30px 10px 0;
    margin-bottom: 30px;
    width: fit-content;
    position: relative;

    &::after {
      display: block;
      content: " ";
      width: 110%;
      height: 2px;
      position: absolute;
      bottom: -3px;
      left: 0;
      background-color: var(--accent-color);
    }

    &::before {
      display: block;
      content: " ";
      width: 2px;
      height: 120%;
      position: absolute;
      top: 0;
      right: -6px;
      background-color: var(--accent-color);
    }
  }

  & .skills-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;

    & .skills-box {
      background: url(../assets/images/topography2.svg);
      padding: 20px;
      /* text-align: center; */
      color: var(--accent-color);
      font-size: 1.3rem;
      border: 1px solid var(--accent-color);
      border-radius: var(--border-radius);

      & span {
        display: block;
        color: var(--primary-color);
        font-weight: 600;
        font-size: 1.2rem;
        background-color: var(--accent-color);
        margin: 20px 0 0;

        &.w10 {
          width: 10%;
        }

        &.w20 {
          width: 20%;
        }

        &.w30 {
          width: 30%;
        }

        &.w40 {
          width: 40%;
        }

        &.w50 {
          width: 50%;
        }

        &.w60 {
          width: 60%;
        }

        &.w70 {
          width: 70%;
        }

        &.w80 {
          width: 80%;
        }

        &.w90 {
          width: 90%;
        }

        &.w100 {
          width: 100%;
        }
      }
    }
  }
}

#contact {
  width: 80%;
  margin: 300px auto;
  max-width: 1360px;

  & h2 {
    font-size: 3rem;
    line-height: 3.5rem;
    padding: 0 30px 10px 0;
    margin-bottom: 30px;
    width: fit-content;
    position: relative;

    &::after {
      display: block;
      content: " ";
      width: 110%;
      height: 2px;
      position: absolute;
      bottom: -3px;
      left: 0;
      background-color: var(--accent-color);
    }

    &::before {
      display: block;
      content: " ";
      width: 2px;
      height: 120%;
      position: absolute;
      top: 0;
      right: -6px;
      background-color: var(--accent-color);
    }
  }

  & p {
    font-size: 1.2rem;
    line-height: 1.4rem;
    margin-bottom: 50px;
    color: var(--text-color);
  }

  & .contact-list {
    margin-top: 40px;

    & .contact-box {
      width: fit-content;
      text-decoration: unset;
      color: var(--accent-color);
      font-size: 1.5rem;
      padding: 20px 10px 5px 10px;
      border: 1px solid var(--accent-color);
      margin: 0 30px 0 0;
      background: url(../assets/images/topography2.svg);
      transition: all 0.4s;

      &:hover {
        color: var(--primary-color);
        font-size: 1.5rem;
        padding: 20px 10px 5px 10px;
        border: 1px solid var(--accent-color);
        margin: 0 30px 0 0;
        background: url(../assets/images/topography2.svg) var(--accent-color);
      }
    }
  }
}

.footer {
  width: 100%;
  padding: 10px 0;
  border-top: 1px solid var(--accent-color);
  text-align: center;
  color: var(--accent-color);
  font-size: 1rem;
  background: url(../assets/images/topography2.svg);
}

@keyframes progress-animation-width {
  0% {
    width: 0;
  }
  100% {
    width: 50%;
  }
}

@keyframes progress-animation-height {
  0% {
    height: 0;
  }
  100% {
    height: 50%;
  }
}

@keyframes hover-animation-after-line {
  0% {
    width: 0;
  }
  100% {
    width: calc(100% + 20px);
  }
}

@keyframes hover-animation-before-line {
  0% {
    height: 0;
  }
  100% {
    height: 35px;
  }
}

@media screen and (max-width: 1200px) {
  #home .home-box {
    width: 70%;
  }

  #skills .skills-list {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}

@media screen and (max-width: 900px) {
  body {
    font-size: var(--font-size-base-mobile);
  }

  .navbar-desktop {
    display: none;
  }

  .navbar.navbar-mobile {
    display: flex !important;
    justify-content: space-between;
    padding: 0 20px;
    height: 50px;
    background: url(../assets/images/topography2.svg) var(--primary-color);

    & a {
      font-size: 1rem;
      color: var(--text-color);
    }
  }

  #home .home-box {
    width: 90%;
    margin: auto;
    height: fit-content;
    padding: 10px 10px 70px 10px;
    border-top: 15px solid var(--primary-color);
    border-left: 20px solid var(--primary-color);
    box-sizing: border-box;
  }

  #home .home-box h1 {
    font-size: 2.3rem;
    line-height: 2.3rem;
  }

  #about-me {
    margin: 100px auto;
    width: 90%;
  }

  #projects .projects-box {
    width: 90%;
  }

  #projects h2 {
    max-width: 85%;
    font-size: 2.5rem;
    line-height: 3rem;
  }

  #projects h2::before {
    height: 110%;
  }

  #projects .project-box .project .about-project {
    height: fit-content;
  }
  #projects .project-box {
    grid-template-columns: repeat(1, 1fr);
  }

  #skills {
    width: 90%;
    margin: 100px auto;
  }

  #skills h2 {
    font-size: 2.5rem;
    line-height: 3rem;
    max-width: 85%;
    margin-bottom: 50px;
  }

  #skills h2::before {
    height: 110%;
  }

  #skills .skills-list {
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
  }

  #contact {
    width: 90%;
    margin: 100px auto;
  }

  #contact .contact-list .contact-box {
    width: 100%;
    display: block;
    box-sizing: border-box;
    margin-bottom: 20px;
    position: relative;
  }

  #contact .contact-list .contact-box span {
    position: absolute;
    right: 10px;
    bottom: 0;
  }
}
